body {
  font-family: $font;
  background: $mauve;
  margin: 2vw 2.5vw auto;
}

button {
  border: none;
  background: $secondary-color;
  color: $white;
  border-radius: $radius;
  font-size: $font-small;
  padding: $btn-pad;
  text-transform: lowercase;
}

input[type="text"], input[type="number"] {
  padding: $input-pad;
  border: solid 1px $black;
  width: 60%;
  margin-right: $gutter-small;
  margin-top: $gutter-small;
  margin-bottom: $gutter-small;
  margin-left: $gutter-small;
  font-size: $font-small;
  text-transform: lowercase;
}

.x {
  background: $mauve;
  color: $secondary-color;
  float: right;
  cursor: pointer;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
